* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

@media (max-width: 500px){

body {
  font-family: 'TT Lakes Neue Trial', sans-serif;
  margin: 18px;
  max-width: 430px;
  background-color: #F8F8F8;
  
}

.second-header-group .call-icon, .chat-icon, .profile-icon {
  display: none;
}

.one {
  display: none;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: solid 1px #D9FFF5;
}

.icons {
  width: 40px;
}

.first-header-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700; 
  margin-top: 24px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 4px #41F6D7;
  margin-right: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.side-menu-links{
  display:flex;
  justify-content: flex-start;
  align-items:flex-start;
  max-height: 40px;
  min-width: 320px;
   margin-top: 25px;
   margin-left: 16px;
   overflow-x: auto;
   gap: 10px;
}

.side-menu-links a {
  padding: 8px;
  text-align: left;
  width: 248px;
  background-color: #F8F8F8;
  font-family: inherit;
  font-weight: 500;
  color: #7E7E82;
}

.side-menu-links a:hover {
  padding: 10px;
  border: solid 2px #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 10px;

}

article {
  margin-top: 50px 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article p {
  margin: 16px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  max-width: fit-content;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
margin-left: 16px;
}

.image-container {
  display: flex;
}

.image-container img {
max-width: 100%;
height: auto;
}
}



@media  (min-width: 1120px){
   body {
  font-family: 'TT Lakes Neue Trial', sans-serif;
  margin: 18px;
  
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: solid 1px #D9FFF5;
}

.main-header .icons {
width: 40px;
}

.main-header {
  display: none;
}
.first-header-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}


.second-third-header-group {
display: flex;
align-items: center;

}
.second-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.large-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-screen-header-nav div {
  display: inline-flex;
 align-items: center;
  flex-wrap: wrap;
  margin: 16px;
}

.large-screen-header-nav div img {
  margin-left: 16px;
}

h1 {
  font-size: 34px;
  font-weight: 700; 
  margin-top: 24px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 2px #41F6D7;
  margin-right: 16px;
  margin-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
  

.side-menu-links{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px 25px;
  gap:16px;
  
}

.side-menu-links a {
  max-width: 300px;
  text-align: left;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  color: #7E7E82;
    border: solid 2px transparent;
  padding: 8px 8px;
  margin-right: 20px;
  text-decoration: none;
}

.side-menu-links a:hover {
  max-width: 300px;
  text-align: left;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  padding: 8px 8px;
  margin-right: 20px;
  border: solid 2px #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-right: 20px;
}

article {
  margin-top: 50px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

article p {
  flex: 1;
  margin: 16px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  max-width: fit-content;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
margin-left: 16px;
}

.image-container img {
min-width: 650px;
height: auto;
}
}

@media (max-width: 1120px){
  body {
    width: 95%;
  font-family: 'TT Lakes Neue Trial', sans-serif;
  margin: 18px;
  
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: solid 1px #D9FFF5;
}

header .icons {
width: 40px;
}

.main-header {
  display: none;
}
.first-header-group {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}


.second-third-header-group {
display: flex;

}
.second-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.large-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.large-screen-header-nav div {
  display: inline-flex;
 align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.large-screen-header-nav div img {
  margin-left: 8px;

}

h1 {
  font-size: 30px;
  font-weight: 700; 
  margin-top: 8px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 2px #41F6D7;
  margin-right: 16px;
  margin-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
  

.side-menu-links{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px 25px;
  gap:16px;
  
}

.side-menu-links a {
  max-width: 300px;
  text-align: left;
  font-size: 18px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  color: #7E7E82;
    border: solid 2px transparent;
  padding: 8px 8px;
  margin-right: 10px;
  text-decoration: none;
}

.side-menu-links a:hover {
  max-width: 300px;
  text-align: left;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  padding: 8px 8px;
  border: solid 2px #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-right: 10px;
}

article {
  margin-top: 50px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

article p {
  flex: 1;
  margin: 16px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  max-width: fit-content;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
margin-left: 16px;
}

.image-container img {
min-width: 500px;
height: auto;
}

}

@media (max-width: 769px){

  /* second screen */
body {
  font-family: 'TT Lakes Neue Trial', sans-serif;
  margin: 18px;
  max-width: 768px;
  
}

.large-screen-header-nav {
  display: none;
}

.main-header {
  display: block;
}

.first-header-group {
  display: flex;
}


.main-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 16px;
  border-bottom: solid 1px #D9FFF5;
}

.icons {
  width: 40px;
}

.icons {
  width: 40px;
}

.first-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  align-items: center;
  gap: 16px;
}

.divider {
  height: 40px;
  background-color: #dddd;
  width: 1px
}


.second-third-header-group {
display: flex;

}
.second-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  gap: 16px;
}


.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

h1 {
  font-size: 28px;
  font-weight: 700; 
  margin-top: 24px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 4px #41F6D7;
  margin-right: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
  
.side-menu-links{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  max-height: 40px;
  margin: 15px 0 15px 25px;
   overflow-x: auto;
   gap: 10px;
}


.side-menu-links a {
  height: 40px;
  padding: 8px;
  text-align: left;
  font-family: inherit;
  font-weight: 500;
   border: solid 2px transparent;
  color: #7E7E82;
}

.side-menu-links a:hover {
  padding: 8px;
  border: solid 2px #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 10px;

}

article {
  display: flex;
  justify-content: center;
}

article p {
  flex: 1;
  margin: 16px;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  max-width: fit-content;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
margin-left: 16px;
}

.image-container img {
min-width: 200px;

}
}
 