@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "TTLakes";
  src: url("./fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
}

* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: "TTLakes", sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 1120px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px;
  border-bottom: solid 1px #d9fff5;
}

header .icons {
  width: 40px;
}

.main-header {
  display: none;
}

.first-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  align-items: center;
  gap: 16px;
}

.second-third-header-group {
  display: flex;
}
.second-header-group {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  gap: 16px;
}

.third-header-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.large-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.large-screen-header-nav div {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.large-screen-header-nav p {
  font-weight: 500;
}

.large-screen-header-nav div img {
  margin-left: 8px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 8px;
}

h1::before {
  content: "";
  height: 40px;
  border: solid 2px #41f6d7;
  margin: 0px 16px 0px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.side-menu-links {
  margin: 20px auto auto 20px;
  max-height: 60px;
  display: flex;
  overflow-x: auto;
}

.side-menu-links a {
  text-decoration: none;
  min-width: 248px;
  margin-right: 16px;
  color: #565656;
  border: solid 2px transparent;
  border-radius: 9px;
  padding: 5px;
  background-color: #f8f8f8;
  font-weight: 500;
}

.side-menu-links a:hover {
  color: #565656;
  border: solid 2px #41f6d7;
  background-color: #ffff;
}

.side-menu-links::-webkit-scrollbar {
  width: 0px;
}

article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

article p {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 500px;
}

.readmore-cta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.readmore-cta img {
  width: 35px;
  margin-left: 16px;
}

.image-container img {
  width: 500px;
}

h3 {
  color: #7e7e82;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

.swiper-slide {
  max-width: 240px;
  height: 72px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #eaeaea;
}

.swiper-slide img {
  margin: 10px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  padding: 10px;
  background: none;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  display: none;
}

.showbutton,
.hidebutton {
  display: none;
}

.hide {
  display: none;
}

.swiper-wrapper {
  width: 90%;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
button {
  display: flex;
}
.swiper {
  width: auto;
  height: 200px;
}

.repair-of-equipments {
  padding: 20px;
}

.second .swiper-slide {
  max-width: 240px;
  height: 160px;
  margin: 10px;
  display: flex;
}

.second .swiper-slide p {
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
}
